@font-face {
	font-family: proxima-nova;
	src: url(proxima-nova);
	font-display: swap;
}

body {
	background: url(images/lightbackground.svg) no-repeat center fixed;
	background-size: cover;
	background-color: #fff;
}

body, #content, #logo svg {
	transition: 200ms ease-in-out;
}

#content {
	position: absolute;
	top: 50%;
	width: 425px;
	left: 50%;
	transform: translateY(-50%);
	font-family: "proxima-nova";
}

#logo svg {
	fill: #212121;
	fill-rule: nonzero;
	display: none;
	margin-bottom: 5em;
	width: 50%;
	transform: translateX(50%);
}

h1, h2, p, a {
	color: #212121;
	text-decoration: none;
	margin: 0;
}

h1 {
	margin: -.5em 0 0;
	font-size: 50px;
}

p {
	margin: .25em 0;
	font-size: 23px;
}

ul {
	padding: 0;
	list-style: none;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: .14em;
}

li {
	margin-top: 2em;
}

a svg {
	height: 30px;
	margin: 1em 1em 0 0;
	fill: #212121;
}

a svg:hover {
	fill: #909090;
}

a:hover {
	color: #909090;
}

@media (prefers-color-scheme:dark) {
	body {
		background-image: url(images/darkbackground.svg);
		background-color: #212121;
	}

	#logo svg, a svg {
		fill: #fff;
	}

	h1, h2, p, a {
		color: #fff;
	}
}

@media only screen and (max-width: 900px) {

	body {
		background-image: none;
	}

	#content {
		width: 425px;
		left: calc((100% - 425px) / 2);
	}

	#logo svg {
		display: block;
	}
}

@media (pointer:coarse) and (orientation:portrait) {
	body {
		background-image: none;
	}

	#content {
		top: 35%;
		width: 50%;
		left: 25%;
		transform: scale(2,2);
	}

	#logo svg {
		display: block;
	}

	#text {
		margin-left: 5%;
	}
}
