@font-face {
		font-family: proxima-nova;
		src: url(../proxima-nova);
		font-display: swap;
}

body, li a:hover {
	background-color: #fff;
	color: #212121;
}

#logo {
	display: inline-block;
	margin: 5% 0 5% 50%;
	transform: translateX(-50%);
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: solid 6px #212121;
}

#logo svg {
	margin: 50% 0 0 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 225px;
}

ul {
	padding: 0;
	list-style: none;
}

li {
	margin-bottom: 32px;
	text-align: center;
}

li a {
	display: inline-block;
	background-color: #212121;
	width: 90%;
	border: 4px solid #212121;
	color: #fff;
	font: 700 32px/1.5 proxima-nova;
	text-decoration: none;
	padding: 20px 10px;
}

@media (prefers-color-scheme:dark) {
	body, #logo, li a {
		background-color: #212121;
		border-color: #fff;
	}

	#logo svg {
		fill: #fff;
	}
}

@media (pointer:fine) and (min-width:800px) {
	body {
		width: 50%;
		margin-left: 50%;
		transform: translateX(-50%);
	}

	li a {
		padding: 20px 10px;
		font-size: 24px;
	}
}
