<!DOCTYPE html>
<html lang="en">
	<link rel="preload" href="/assets/fonts/typeface.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/syntax.css">
	<meta name="viewport" content="width=device-width">
	<script src="/assets/js/main.js" defer></script>
	<link rel="icon" href="/assets/icons/favicon.svg">
	<link rel="mask-icon" href="/assets/icons/mask-icon.svg" color="#212121">
	<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
	<link rel="manifest" href="/site.webmanifest">
	{% feed_meta %}
	{% seo %}
	{% if page.url == "/" %}{% include splash.html %}{% endif %}
	<nav id="nav">
		<a class="page {% if page.url == "/" %}curr{% endif %}" href="/#nav">About Me</a>
		<a class="page {% if page.url contains '/blog/' %}curr{% endif %}" href="/blog">Blog</a>
		<a class="page project" href="https://quartiles.nilsstreedain.com" target="_blank">Quartiles</a>
	</nav>
	<div id="content">
		<div id="author">
			<img src="https://avatars.githubusercontent.com/u/25465133" alt="Avatar of Nils Streedain" title="Avatar of Nils Streedain">
			<h1>{{ site.author.name }}</h1>
			<p><a href="https://bsky.app/profile/nilsstreedain.com" target="_blank">@nilsstreedain.com</a></p>
		</div>
		<main>
			{{ content }}
		</main>
	</div>
</html>
