---
layout: default
---
<div class="card">
    <img src="{{ page.image.path }}" id="poster"/ alt="{{ page.image.alt }}">
	<h2>{{ page.title }}</h2>
	<h3>{{ page.description }}</h3>
    <img alt="Page view count" id="viewCounter" src="https://hits.sh/nilsstreedain.com{{ page.url }}.svg?style=for-the-badge&label=views&color=212121&labelColor=212121"/>
	<p id="date">
        {{ page.date | date: "%b %d, %Y" }}<br>
        {% if page.last_modified_at %}
           Updated {{ page.last_modified_at | date: "%b %d, %Y" }}
        {% endif %}
	</p>
    <p><a href="/#nav">By Nils Streedain</a></p>
	{{ content }}
</div>
